<html>
                   
<body>

    {% extends "base.html" %}
{% load static %}
{% block content %}
<section class="n-pages-breadcrumb"  style="background: rgba(0, 0, 0, 0.6) url({% static 'img/header/login-slider-image.png' %}) 0 0 no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center center; background-attachment:scroll;">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
             <div class="n-breadcrumb-info">
               <h1>Looking for a Job?</h1><p>Here’s how to sort through the millions available to find the one that’s right for you.</p>
             </div>
          </div>
       </div>
    </div>
</section>
    <head><link rel='stylesheet' type="text/css" href="/static/css/bootstrap.min.css"></head>
 
    <div class="container">
        <h1>Find the Right Job For Yourself</h1>
        <form method="POST" action="/search/">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-lg-5"></div>
                    <input type="text" name="srh" class='form-control' placeholder='Enter the job post '>
                </div>
            </br>
                <label class="col-lg-2">
                    <button type="submit" class="btn btn-danger">Search</button>
                </label>
            </div>
</form><br><br>
<div>
    
        {% for k in messages %}
        <li style="color:blueviolet">{{k}}</li>
        {% endfor %}

</div><br>
<div style="color: crimson">
    {% for k in employees %}
    <table border="5px" width="350px">
        <tr>
            <td>Employee </td>
            <td>{{k.user}}</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>{{k.phone_number}}</td>
        </tr>
        <tr>
            <td>Skills </td>
            <td>{{k.skills }}</td>
        </tr>
        <tr>
            <td>Previous Employments</td>
            <td>{{k.prev_Employments}}</td>
        </tr>
        <tr>
            <td>Accomplishments</td>
            <td>{{k.accomplishments}}</td>
        </tr>
        <tr>
            <td>Experience</td>
            <td>{{k.experience}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{k.address}}</td>
        </tr>
        <tr>
            <td>Projects</td>
            <td>{{k.projects}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{k.email}}</td>
        </tr>
        <tr>
            <td>Education_details</td>
            <td>{{k.education_details}}</td>
        </tr>
        

    </table>
    <hr>
    {% endfor %}

</div>
                </div>
            </body>
            </html>
{%endblock content%}