<html>
                   
<body>

    {% extends "base.html" %}
{% load static %}
{% block content %}
<section class="n-pages-breadcrumb"  style="background: rgba(0, 0, 0, 0.6) url({% static 'img/header/login-slider-image.png' %}) 0 0 no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center center; background-attachment:scroll;">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
             <div class="n-breadcrumb-info">
               <h1>Looking for a Job?</h1><p>Here’s how to sort through the millions available to find the one that’s right for you.</p>
             </div>
          </div>
       </div>
    </div>
</section>
    <head><link rel='stylesheet' type="text/css" href="/static/css/bootstrap.min.css"></head>
 
    <div class="container">
        <h1>Find the Right Job For Yourself</h1>
        <form method="POST" action="/search/">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-lg-5"></div>
                    <input type="text" name="srh" class='form-control' placeholder='Enter the job post '>
                </div>
            </br>
                <label class="col-lg-2">
                    <button type="submit" class="btn btn-danger">Search</button>
                </label>
            </div>
</form><br><br>
<div>
    {% for k in jobdisplay %}
    <table border="5px" width="350px">
        <tr>
            <td>Job Title</td>
            <td>{{k.JobTitle}}</td>
        </tr>

        <tr>
            <td>Job Details</td>
            <td>{{k.JobDesciption}}</td>
        </tr>

    {% endfor %}


</div>
                </div>
            </body>
            </html>
{%endblock content%}